
@media (max-width: 768px){

    .main-layout{
        display:flex;
        flex-direction:column;
    }

    .sidebar{
        position:relative;
        width:100%;
        height:auto;
        min-height:auto;

        display:flex;
        flex-direction:column;
        overflow-y: auto;
        box-shadow:none;
    }

    .content{
        margin-left:0;
        width:100%;
        flex:1;
        padding:24px;
    }

    .nav-item{
        justify-content:center;
        text-align:center;
    }

    .logo{
        text-align:center;
    }

    .topbar{
        flex-direction:column;
        gap:12px;
        height:auto;
    }

    .search{
        width:100%;
    }

    .grid{
        grid-template-columns:1fr;
    }
}

@media (max-width: 768px){

    .drink-hero{
        flex-direction:column;
        align-items:flex-start;
    }

    .drink-image2{
        width:100%;
        height:auto;
        max-height:300px;
    }

    .drink-header h1{
        font-size:28px;
    }
}