@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@600;700&display=swap');

:root{
--green:#3FBF7F;
--green-hover:#2da56b;
--blue:#4DA3FF;
--mint:#A8E6CF;

--bg:#F6F9FC;
--card:#FFFFFF;
--hover:#F0FBF6;

--text:#1F2937;
--text2:#6B7280;
--disabled:#9CA3AF;

--success:#22C55E;
--warning:#F59E0B;
--error:#EF4444;
--error-hover:#d8450b;
--info:#3B82F6;

--radius:12px;
--shadow:0 2px 10px rgba(0,0,0,.05);

--spacing1:8px;
--spacing2:16px;
--spacing3:24px;
--spacing4:32px;

--transition:.18s ease;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Inter',sans-serif;
background:var(--bg);
color:var(--text);
min-height:100vh;
}

html, body{
    height:auto;
    overflow-y:auto;
    margin:0;
}

h1{
font-size:32px;
font-family:'Poppins';
}

h2{
font-size:24px;
font-weight:600;
}

h3{
font-size:18px;
font-weight:600;
}

a{
text-decoration:none;
color:var(--blue);
}

.main-layout{
display:flex;
}

.footer{
margin-top:32px;
padding:24px;
background:white;
border-radius:12px;
box-shadow:var(--shadow);
display:flex;
justify-content:space-between;
align-items:center;
color:var(--text2);
}

.footer-links{
display:flex;
gap:16px;
}

.empty-state{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:70vh;
    font-size:36px;
    font-weight:600;
    color:var(--text2);
    text-align:center;
    width:100%;
    white-space: nowrap;
    margin-left: 150%;
}